<main class="BlankPage" role="main">
  <div class="column row">

    <h1 class="o-pageTitle">
      {{ 'general.blank_page.title' | t }}
    </h1>

    <div class="o-pageSubtext o-rte">
      {{ 'general.blank_page.subtext_html' | t }}
    </div>

  </div>
</main>
