<div class="FourSixty-container">
    <h5>{{section.settings.title}}</h5>
    <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="miaou" data-shopify-add-to-cart="false" data-theme="slider_v2_5" data-connector-filter="35215" data-cell-size="25%"></script>
</div>

<style>.fs-has-links::after { padding:5px 7.5px;background-color:#ffffff;color:rgba(0, 0, 0, 0.8);content:"SHOP IT"; } .fs-showcase_v2_5.fs-desktop .fs-entry-container { width:25% !important;padding-top:25% !important; } .fs-showcase_v2_5.fs-mobile .fs-entry-container { width:100% !important;padding-top:100% !important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Times New Roman, serif;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;font-size:14px; } .fs-wrapper div.fs-text-container * { color:#ffffff; } .fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0.8);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-showcase_v2_5.fs-wrapper div.fs-timeline-entry { margin:0px; } </style>


{% schema %}
{
"name": "Four Sixty Feed",
"class": "FourSixty",
"settings": [
{
    "type": "richtext",
    "id": "title",
    "label": "Title"
  }
],
"presets": [{
"name": "Four Sixty Feed",
"category": "Instagram",
"settings": {}
}]
}
{% endschema %}