<div class="nosto_element" id="frontpage-nosto-1"></div>

{% schema %}
{
  "name": "Nosto Home",
  "settings": [],
  "presets": [
    {
      "name": "Nosto Home",
      "category": "Grid"
    }
  ]
}
{% endschema %}
