<div class="SizesPage" data-meta-title="Size Guide">
    <div class="SizesPage-container">
      <div class="size-guides max-w-6xl mx-auto py-64 px-5 main min-h-screen" settings="[object Object]" shopmeta="[object Object]" id="main" tabindex="-1">
        <h1 class="h3 mb-20 text-center">Size Guides</h1>
  
        <div>
          We provide a specific size guide for each and every Miaou style, to ensure each one hugs your body in all the right places! However, that does mean that sometimes you’ll be different sizes in different Miaou styles. We recommend checking the size guide every time you order a new Miaou style.
          <br/>
          <br/>
        </div>
        <div>
          Please feel free to contact us if you have any fit or sizing questions! We are happy to help!
          <span></span>
          <a href="mailto:contat@miaou.com" target="_blank" rel="noopener noreferrer">contact@miaou.com</a>
        </div>

        <h6 class="mb-5 uppercase">HOW TO MEASURE</h6>
        <div class="size_guide_image_section">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/FittingManualLengthFinal.jpg?v=1675196891"
              alt="FittingManualLengthFinal" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/FITTED_CIRCUMFERENCE_updated.jpg?v=1675317664"
              alt="FITTED_CIRCUMFERENCE_updated" />
          </div>
        </div>
        <h6 class="mb-5 uppercase">General Conversion Chart</h6>
        {%- render 'size-tables' -%}
        {%- render 'size-tables-2' -%}
      </div>
    </div>
</div>
  