/* announcementbar styles */
.center{
    text-align:center;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}
#shopify-section-announcement-bar .announcement-bar{
    min-height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.announcement-bar .announcement-bar__message{
    margin-bottom: 0;
    padding: 10px;
}

/* nosto add to cart */
@media only screen and (max-width: 550px){
    .nosto_cart_element {
      height: 143px;
      border: 1px solid white;
      margin-bottom: 12px;
  }
  }
  @media only screen and (min-width: 551px)and (max-width: 768px){
     .nosto_cart_element {
      height: 140px;
      border: 1px solid white;
      margin-bottom: 15px;
  }
  }
  @media only screen and (min-width: 769px)and (max-width: 1000px){
     .nosto_cart_element {
      height: 130px;
      border: 1px solid white;
      margin-bottom: 15px;
  }
  }
  @media only screen and (min-width: 1010px) and (max-width: 1360px) {
    .nosto_cart_element {
      height: 154px;
      border: 1px solid white;
      margin-bottom: 10px;
  }
  }
  @media only screen and (min-width: 1361px) and (max-width: 1439px) {
  .nosto_cart_element {
      height: 153px;
      border: 2px solid white;
      margin-bottom: 10px;
  }
  }
  @media only screen and (min-width: 1440px) {
  .nosto_cart_element {
      height: 160px;
      border: 2px solid white;
      margin-bottom: 10px;
  }
  }
  
  @media (max-height: 750px) {
    .CartDrawer-items li:last-child {
      padding-bottom: 150px;
    }
  }
  .CartDrawer-items li.dummy-item {
    opacity: 0;
  }

  /* navigation menu styles */

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav ul, nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    display: block;
    text-decoration: none;
}
nav a:hover, nav a:visited {
    text-decoration: none;
}
.menu-bar {
    background: #ffffff;
    display: flex;
}
.menu-link {
    padding: 10px 15px 10px 15px;
    background: #ffffff;
    color: #177E89;
    transition: background .2s, color .2s;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.menu-link[aria-haspopup="true"]:after {
    content: "";
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#light');
    background-size: 14px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    position: absolute;
    /* right: 10px; */
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
.mega-menu-header {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #136a73;
}
.mega-menu {
    background: #ffffff;
    z-index: 10;
}
.mega-menu--multiLevel {
    flex-direction: column;
}
.universe-banner-section .universe-banner .universe-text-container h5,
.universe-banner-section .universe-banner .universe-text-container p{
    color: #ffffff
}
.universe-banner-section .universe-banner .universe-text-container h5{
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 0;
}
.menu-link.mega-menu-link.site-sub-nav--has-dropdown{
    font-weight: bold;
}
.grand_child_active a{
    color: #d2fa4a;
    opacity: 1 !important;
}
.menu.menu-bar .menu-link:hover{
    color: #d2fa4a;
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: scaleY(0);
   }
    50% {
        opacity: 1;
   }
    100% {
        transform: scaleY(1);
   }
}
@keyframes flyout {
    0% {
        opacity: 0;
        transform: scaleX(0);
   }
    100% {
        opacity: 1;
        transform: scaleX(1);
   }
}

.navigation-menu .icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.navigation-menu .icon#hamburger-menu-close{
    width: 16px;
    height: 16px;
}

.icon.icon-cart{
    display: block;
    width: 20px;
    height: 20px;
    stroke: #ffffff;
    fill: transparent;
}
.header.custom-header .nav{
    position: fixed;
    width: 100%;
    z-index: 2;
    /* background: transparent; */
    margin-top: 40px;
    border-bottom: 1px solid #ffffff; 
    border-top: 1px solid #ffffff; 
    background: transparent;
    background-image: linear-gradient(rgba(0,0,0,.5),transparent);
}

.header.custom-header .nav{
    display: flex;
    align-items: center;
}
.navigation-nosto-section{
    display: none;
}
.navigation-nosto-section .navigation-image-grid{

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.navigation-nosto-section.navigation-nosto-section-mobile .navigation-image-grid .navigation-image-item{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.navigation-nosto-section.navigation-nosto-section-mobile .navigation-image-grid .navigation-image-item .text-block p{
    font-size: 10px;
    margin-top: 10px;
}

.universe-banner-section{
    display: none;
}
.overflow-hidden{
    overflow: hidden !important;
}
.main-sub-nav.site-nav--has-dropdown[aria-label="Universe"] .universe-banner-section{
    display: block; 
    padding: 0px 15px 10px 15px;
}
.main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .navigation-nosto-section .navigation-image-grid{
    display: flex;
    column-gap: 15px;
}
.navigation-image-item .text-block p{
    color: #ffffff;
    text-align: center;
}
.site-nav--active >a.menu-link{
    color: #d2fa4a;
}

#popular-collections{
    text-align: center;
    padding-top: 20px;
}
#popular-collections > h5{
    color: #ffffff;
    text-transform: uppercase;
}
.collection-item > a{
    color: #ffffff;
    text-decoration: underline;
    display: block;
}
#popular-collections .search-collection-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* row-gap: 10px; */
    width: 60%;
    margin: 0 auto;
}
.search-collection-grid .collection-item{
    padding: 0 20px 20px;
}
.template-product .body-main{
    margin-top: 80px;
}
 
.template-collection .body-main,
 .template-index .body-main{
        margin-top: 0;      
}

 .template-collection .body-main .nosto_element .nosto-block{
        margin-top: 80px !important;
 }
 /* menu black styles */
 .header.custom-header .nav.black-menu .header-logo .header-image-placeholder svg g{
    fill: #000000;
 }
 .header.custom-header .nav.black-menu .header_icons .HeaderMenu-SearchIcon .icon-search{
    stroke: #000000;
 }
 .header.custom-header .nav.black-menu .header_icons .HeaderMenu-itemLink, .ge-switcher-flag{
    color: #000000;
 }
 .header.custom-header .nav.black-menu .header_icons .icon.icon-cart{
    stroke: #000000;
 }
 .header.custom-header .nav.black-menu .HeaderMenu-AccountIcon svg{
    fill: #000000;
 }
 .header.custom-header .nav.black-menu .navigation-menu .icon-hamburger{
    stroke: #000000;
 }
 .header.custom-header .nav.black-menu{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
 }
 .nav.white-menu.header-fixed-scroll{
    background-color: #000000;
 }
 .nav.black-menu.header-fixed-scroll{
    background-color: #ffffff;
 }
 .login-block{
    display: none;
 }
 
@media all and (min-width: 951px) {
    .menu-link[aria-haspopup="true"]:after{
        right: 10px;
        margin-left: 0;
    }
    .nav {
        margin-top: 40px;
        /* background: #ffffff; */
        background-color: #000000;
        display: flex;
        align-items: center;
   }
    .nav > nav {
        /* max-width: 900px;
        margin: 0 auto; */
        width: 100%;
        padding-left: 20px;
        padding-right: 40px;
   }
    .menu [aria-haspopup="true"] ~ ul {
        display: none;
   }
    .menu-bar {
        position: relative;
   }
    .menu-bar > li > [aria-haspopup="true"]:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#light');
   }
    .menu-bar > li > [aria-haspopup="true"]:hover:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#light');
   }
    .menu-bar > li > [aria-haspopup="true"]:focus ~ ul {
        display: flex;
        transform-origin: top;
        animation: dropdown .2s ease-out;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {
        display: flex;
   }
    .menu-bar > li:focus-within > [aria-haspopup="true"] ~ ul,
    .menu-bar > li:hover > [aria-haspopup="true"] ~ ul {
        display: flex;
        margin-top: 1px;
        padding: 20px 20px 20px 60px;
       
   }
    .menu-bar > li > [aria-haspopup="true"]:focus, 
    .menu-bar > li:focus-within > [aria-haspopup="true"], 
    .menu-bar > li:hover > a,
    .menu-bar > li > [aria-haspopup="true"]:hover,
    .menu-bar > li > a:hover {       
        /* color: #ffffff; */
        /* font-weight: bold; */
        color: #d2fa4a;
   }
    .menu-bar > li > [aria-haspopup="true"]:focus:after, 
    .menu-bar > li:focus-within > [aria-haspopup="true"]:after, 
    .menu-bar > li:hover > a:after,
    .menu-bar > li > [aria-haspopup="true"]:hover:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowTop.svg#light');
   }
    .mega-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
   }
    .mega-menu:hover {
        display: flex;
   }
    .mega-menu a:hover {
        background: tint(#177E89,85%);
        color: #136a73;
   }
    .mega-menu--multiLevel > li {
        /* width: 33.333333333333%; */
        width: auto;
        min-width: 13%;
   }
  
    .mega-menu--multiLevel > li > [aria-haspopup="true"] ~ ul ul {
        width: 100%;
        left: 100%;
   }
    .mega-menu--multiLevel li:hover > [aria-haspopup="true"] ~ ul {
        display: block;
        /* transform-origin: left;
        animation: flyout .2s ease-out; */
   }
    /* .mega-menu--multiLevel li:focus-within > [aria-haspopup="true"] ~ ul {
        display: block;
   } */
    .mega-menu--multiLevel li:hover > [aria-haspopup="true"], .mega-menu--multiLevel li:hover > a, .mega-menu--multiLevel li:focus-within > [aria-haspopup="true"], .mega-menu--multiLevel li:focus-within > a {
        background: tint(#177E89,85%);
        color: #ffffff;
   }
   
    .mega-menu--multiLevel [aria-haspopup="true"] ~ ul:hover, .mega-menu--multiLevel [aria-haspopup="true"]:hover {
        display: block;
   }
    .mega-menu--multiLevel [aria-haspopup="true"] ~ ul {
        /* position: absolute; */
        /* top: 0; */
        top: 100%;
        height: 100%;
        display: block;
   }
    .mega-menu--flat > * {
        flex: 1;
   }
    .mobile-menu-trigger, .mobile-menu-header, .mobile-menu-back-item {
        display: none;
   }
   .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a{
    opacity: 0.8;
    padding: 5px 10px;
    font-size: 11px;
   }
}
@media(min-width:1024px){
    .header_icons .HeaderMenu-itemLink[title="Account"]{
        display: none;
    }
    .mega-menu.mega-menu--multiLevel >li a{
        font-size: 11px;
    }
    .login-block{
        display: flex;
        align-items: center;
    }
    .login-block .HeaderMenu-AccountIcon{
        display: block;
        padding-right: 5px;
    }
    .login-block .HeaderMenu-itemLink{
        display: flex;
        align-items: center;
    }
    .login-block .HeaderMenu-AccountIcon svg{
        width: 12px;
        height: 12px;
        fill: #ffffff;
    }
    .announcement-bar .page-width{
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        align-items: center;
    }
    .announcement-bar .page-width .announcement-text-block{
        width: 100%;
    }
    .menu-bar .main-sub-nav[aria-label="Shop"] >ul li[aria-label="Extended Sizes"],
    .menu-bar .main-sub-nav[aria-label="Shop"] >ul li[aria-label="Matching Sets"]
    {
        display: none;

    }
    .header_icons{
        display: flex;
    }
    .header.custom-header .nav{
        padding: 0 20px;
           
    }
    .menu-link{
        padding: 10px;
        text-transform: uppercase;
        background: transparent;
        color: #ffffff;
        padding-right: 25px;
    }
    .menu.menu-bar .main-sub-nav[aria-label="Universe"],
    .menu.menu-bar .main-sub-nav[aria-label="Rewards"]{
        display: none;
    }
    .navigation-menu.navigation-menu-universe .menu.menu-bar .main-sub-nav{
        display: none;
    }
    .navigation-menu.navigation-menu-universe .menu.menu-bar .main-sub-nav[aria-label="Universe"],
    .navigation-menu.navigation-menu-universe .menu.menu-bar .main-sub-nav[aria-label="Rewards"]{
        display: initial;
    }
    .mega-menu{
        background-color: #000000;
    }
    .menu-bar{
        background: transparent;
    }
    .mega-menu--multiLevel{
        flex-direction: row;
    }
    .mega-menu.mega-menu--multiLevel .menu-link.mega-menu-link::after{
        display: none;
    }
    /* .main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .navigation-nosto-section{
        display: initial;
    } */
    .menu-bar {
        position: inherit !important;
   }
   .header_icons .HeaderMenu-SearchIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
   }
   .header_icons .HeaderMenu-SearchIcon .icon-search{
    width: 17px;
    height: 17px;
   }
   .header.custom-header .nav.white-menu.black-bg{
    background: #000000;
    border-bottom: 1px solid #ffffff;
}
.header.custom-header .nav.black-menu.black-bg{
    background: #ffffff;
    border-bottom: 1px solid #000000;
}
.main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .navigation-nosto-section{
    order: 1;
}
.mobile-fixed-menu{
    display: none;
}
.main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .navigation-nosto-section{
    display: initial; 
}
.header.custom-header .nav.black-menu .navigation-menu .main-sub-nav >a::after{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#black);
 }
 .header.custom-header .nav.black-menu .navigation-menu .main-sub-nav >a{
    color: #000000;
 }
}

/* mobilemenu styles */

@media all and (max-width: 950px) {
    .menu-link{
        background-color: #000000;
        color: #ffffff;
        text-transform: uppercase;
        padding: 5px 15px 5px 10px;
    }
    .menu-link[aria-haspopup="true"]:after{
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#light);
    }
    .nav {
        padding: 0 15px;
   }
    .mobile-menu-trigger, .mobile-menu-back-item {
        display: block;
   }
   .mobile-menu-header{
    display: flex;
    align-items: center;
   }

    .mobile-menu-trigger {      
        color: #ffffff;
        border: 0;
        padding: 10px 5px;
        font-size: 1.2em;
        border-radius: 4px;
   }
    .mobile-menu-header {
        order: -1;
        background: #000000;
        width: 100%;
   }
    .mobile-menu-header a {
        padding: 10px 0 10px 10px;
        color: #ffffff;
        visibility: visible;
   }
    .menu-bar {
        /* flex-direction: column; */
        flex-direction: row;
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        /* width: 350px; */
        width: 90%;
        max-width: 350px;
        max-width: 90%;
        overflow-x: hidden;
        transition: left .3s;
        box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.25);
        background-color: #000000;
        margin-top: 40px;
   }
   .menu-bar > li{
    width: 100%;
   } 
   .menu-bar .main-sub-nav:nth-of-type(3) .menu-link[aria-haspopup="true"]:after{
    background-image: none;
   }
   /* .menu-bar .main-sub-nav:first-of-type .menu-link[aria-haspopup="true"]:after,
   .menu-bar .main-sub-nav:nth-of-type(2) .menu-link[aria-haspopup="true"]:after,
   .menu-bar .main-sub-nav:nth-of-type(3) .menu-link[aria-haspopup="true"]:after,
   .menu-bar .main-sub-nav:nth-of-type(4) .menu-link[aria-haspopup="true"]:after{
    background-image: none;
   } */
  
  
   .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"]:after{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowRight.svg#light) !important;
   }

   .menu-bar.is-open{
    z-index: 2;
   }  
   /* .navigation-menu.menu-open{
    z-index: 2;
    height: 100%;
    background-color: #000000;
    width: 90%;
    position: absolute;
    left: 0;
    display: inline-block;
   } */
    .menu-bar > li > [aria-haspopup="true"] ~ ul {
        display: flex;
        flex-direction: column;
        /* background: #ffffff; */
        position: absolute;
        left: 100%;
        top: 0;
        max-height: 100vh;
        width: 100%;
        transition: left .3s;
        height: 100vh;
        background-color: #000000;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] {
        font-size: 12px;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {
        /* padding-left: 40px; */
        font-size: 10px;
        opacity: 0.8;
        

   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul > li > [aria-haspopup="true"] ~ ul a {
        padding-left: 80px;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] {
        /* color: #2a2a2a; */
        color: #ffffff;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:after {
        /* content: "+";
        background: none; */
        font-size: 1em;
        font-weight: normal;
        /* height: 20px; */
        line-height: 1;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul {
        max-height: 0px;
        transform-origin: top;
        transform: scaleY(0);
        transition: max-height .1s;
   }
    .mega-menu-content {
        padding: 20px 25px;
   }
    .mobile-menu-back-item {
        order: -1;
   }
    .mobile-menu-back-item a {
        max-height: calc(1.4em + 40px);
        margin-top: calc(0px - (1.4em + 40px));
        pointer-events: none;
   }
    .mobile-menu-back-item a:before {
        content: "";
        width: 14px;
        height: 12px;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowLeft.svg#light');
        background-size: 14px;
        margin-right: 10px;
        display: inline-block;
   }
    /* .mobile-menu-trigger:active ~ ul {
        left: 0;
   } */
    .menu-bar:active, .menu-bar:active {
        left: 0;
   }
    /* .menu-bar > li > [aria-haspopup="true"]:active ~ ul {
        left: 0;
   } */
    .menu-bar > li > [aria-haspopup="true"] ~ ul {
        margin-top: 95px;
   }
    .menu-bar > li > [aria-haspopup="true"] ~ ul:hover, .menu-bar > li > [aria-haspopup="true"] ~ ul:active {
        left: 0;
   }
    /* .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:active ~ ul {
        max-height: 500px;
        animation: dropdown .3s forwards;
   } */
    .menu-bar > li > [aria-haspopup="true"] ~ ul li:active > [aria-haspopup="true"] ~ ul {
        max-height: 500px;
        transform: scaleY(1);
        animation: dropdown .3s forwards;
        opacity: 1;
        left: 0;
        display: block;
   }
    .menu-bar > li:active ~ .mobile-menu-header a {
        visibility: hidden;
   }
   .menu-bar.is-close{
    left: -100%;
   }
   .menu-bar.is-open{
    left: 0;
   }
   /* .mega-menu-link.is-submenu-open ~ .menu.menu-list{
    display: block;
    max-height: 500px;
    animation: dropdown .3s forwards;
    transform: scaleY(1);
    opacity: 1;
    max-height: 500px;
    left: 0;
   } */
   .site-sub-nav--has-submenu-dropdown .menu.menu-list.submenu-sub-dropdown-list.is_submenu_open{
    display: block;
    max-height: 500px;
    animation: dropdown .3s forwards;
    transform: scaleY(1);
    opacity: 1;
    max-height: 500px;
    left: 0;
   }
  
   .mega-menu.mega-menu--multiLevel .first-child-menu .menu.menu-list{
    max-height: 500px;
    animation: dropdown .3s forwards;
   }
}
@media all and (max-width: 950px) and (hover: none) {
    /* .mobile-menu-trigger:hover ~ ul {
        left: 0;
   } */
    /* .menu-bar > li > [aria-haspopup="true"]:hover ~ ul {
        left: 0;
   } */
    /* .menu-bar > li > [aria-haspopup="true"] ~ ul:hover {
        left: 0;
   } */
    /* .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"]:hover ~ ul {
        max-height: 500px;
        animation: dropdown .3s forwards;
   } */
   /* .menu-link.mega-menu-link.site-sub-nav--has-dropdown:active ~ ul{
    
        max-height: 500px;
        transform: scaleY(1);
        animation: dropdown .3s forwards;
        display: block;
        left: 0;
        opacity: 1;
   } */
    /* .menu-bar > li > [aria-haspopup="true"] ~ ul [aria-haspopup="true"] ~ ul:active {
        max-height: 500px;
        transform: scaleY(1);
        animation: dropdown .3s forwards;
        display: block;
        left: 0;
        opacity: 1;
   } */
    .menu-bar > li:hover ~ .mobile-menu-header a {
        visibility: hidden;
   }  
}
@media(max-width:767px){
    .navigation-nosto-section.navigation-nosto-section-mobile{
        display: block;
        /* min-height: 300px !important; */
        max-height: 100%;    
    }
    .navigation-nosto-section.navigation-nosto-section-mobile .navigation-image-grid .navigation-image-item .image-block img{
        object-fit: cover;
        width: 100%;
        height: 150px !important;
    }
  .mobile-fixed-menu ul li:nth-child(1),
  .mobile-fixed-menu ul li:nth-child(3){
    width:30%
  }
  .mobile-fixed-menu ul li:nth-child(2){
    width:40%;
  }
}
@media(min-width:768px) and (max-width:1023px){
    .navigation-nosto-section.navigation-nosto-section-mobile{
        display: block;
    }
    .navigation-nosto-section.navigation-nosto-section-mobile .navigation-image-grid{
        display: flex;
    }
   .mobile-fixed-menu ul li{
        width: 33.33%;
    }
    .mobile-fixed-menu ul{
        justify-content: space-between;
        margin-left:0;
        margin-right:0;
    }
  .mobile-fixed-menu ul li{
    width:33.33%;
  }
}

@media (max-width:1023px){
    .header.custom-header .nav{
        justify-content: space-between;
    }
    .header.custom-header .header_icons{
        display: flex;
    }
    .navigation-menu{
        order: -1;
    }
    .navigation-menu.navigation-menu-universe{
        display: none;
    }
    .header_icons .HeaderMenu-SearchIcon .icon-search,
    .header_icons .HeaderMenu-AccountIcon svg{
        width: 18px;
        height: 18px;
    }
    .header_icons .HeaderMenu-AccountIcon{
        width: 1.75em;
        height: 1.75em;
    }
    .header_icons .HeaderMenu-CartTitle{
        display: initial;
    }
    .header_icons .HeaderMenu-CartCount{
        padding: 0;
        border: none;
        font-size: 12px;
        margin-left: 0;
        height: 10px;
        width: 10px;
    }
    .menu-link.mega-menu-link.is-submenu-open::after{
        transform: rotate(90deg);
    }
    .first-child-menu .menu-link.mega-menu-link.site-sub-nav--has-dropdown::after{
        transform: rotate(90deg);
    }
    .site-sub-nav--has-dropdown.is_submenu_link_open::after{
        transform: rotate(90deg);
    }
    .mobile-fixed-menu{
        position: fixed;
        width: 100%;
        margin-top: 84px;
        z-index: 1;
        border-bottom: 1px solid #ffffff;
        display: none;      
    }
    .template-index .mobile-fixed-menu{
        display: initial;
    }
    .mobile-fixed-menu.mobile-fixed-menu-white-menu.mobile-fixed-menu-scrolled{     
        background-color: #000000;
    } 
    .mobile-fixed-menu.mobile-fixed-menu-black-menu.mobile-fixed-menu-scrolled{
        background-color: #ffffff;
    }
    .mobile-fixed-menu.mobile-fixed-menu-black-menu ul li{
        border-right: 1px solid #000000;
    }
    .mobile-fixed-menu.mobile-fixed-menu-black-menu ul li a{
        color: #000000;
    }
    .mobile-fixed-menu.mobile-fixed-menu-black-menu{
        border-bottom: 1px solid #000000;
    }

    .mobile-fixed-menu ul{
        display: flex;      
        align-items: center;
        text-align: center;
        margin-bottom: 0;  
        padding: 0;
        margin-left: 0;   
        margin-right: 0;
    }
    .mobile-fixed-menu ul li{
        list-style: none;
        border-right: 1px solid #ffffff;
/*         min-width: 20%; */
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 8px 0;
    }
    .mobile-fixed-menu ul li:last-child{
       border-right: 0;
    }
    .mobile-fixed-menu ul li a{
       color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        text-align:center;
    }
/*     .mobile-fixed-menu ul li:last-child a{
        padding-right: 0;
    } */
    .navigation-nosto-section.navigation-nosto-section-mobile .navigation-image-grid .slick-list{
        margin-bottom: 0 !important;
    }
  .mobile-fixed-menu > ul li:nth-of-type(1) .icon-flame{
        display: initial;
    }
}

@media (max-width: 950px) {
    .main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .navigation-nosto-section .navigation-image-grid{
       margin-left: 15px;
       margin-right: 15px;
    }
    .menu-bar>li>[aria-haspopup=true]~ul,
       .menu-bar {
          display: block !important;
        }
    .header-logo{      
        margin-left: 10px;
        width: 100%;
    }
    #popular-collections .search-collection-grid{
        width: 100%;
    }
    }

    @media(max-width:767px){
        /* .menu-bar .main-sub-nav:first-of-type, 
        .menu-bar .main-sub-nav:nth-of-type(2), 
        .menu-bar .main-sub-nav:nth-of-type(3),
        .menu-bar .main-sub-nav:nth-of-type(4)  {
            display: inline-grid;
            width: auto;
            min-width: 49%;
            vertical-align: top;
           
          }  */
      .mobile-fixed-menu ul{
            justify-content: flex-start;
            width:100%;
          }
       .mobile-fixed-menu ul li{
         width:33.33%;
         padding-left:0;
         padding-right:0;
       }
            
    }

    @media(min-width:768px) and (max-width:1023px){
        /* .menu-bar .main-sub-nav:first-of-type, 
        .menu-bar .main-sub-nav:nth-of-type(2), 
        .menu-bar .main-sub-nav:nth-of-type(3),
        .menu-bar .main-sub-nav:nth-of-type(4) {
           
            width: auto;     
            min-width: 49%;   
            vertical-align: top;
            display: inline-grid;
          }   */
          /* .menu-bar .main-sub-nav[aria-label="Universe"]{
            text-align: center;
          } */
    }

 @media(max-width:1023px){
    #accessibleNav .header-image-placeholder{
        margin-left: 15px;
      }    
    .menu-bar .main-sub-nav[aria-label="Shop"] > [aria-haspopup="true"]{
        /* color: #d2fa4a; */
        font-weight: bold;
    }
    /* .menu-bar .main-sub-nav[aria-label="Universe"] > [aria-haspopup="true"]{
        font-weight: bold;
    } */
    .menu-bar .main-sub-nav[aria-label="Shop"] > [aria-haspopup="true"] ~ ul{
        position: inherit;
        margin-top: 0;
        height: auto;
    }
    .menu-bar .main-sub-nav[aria-label="Shop"] > [aria-haspopup="true"] ~ ul .menu-link.mega-menu-link.site-sub-nav--has-dropdown{
        font-weight: normal;
        opacity: 0.8;
    }
    .menu-bar .main-sub-nav[aria-label="Shop"] > [aria-haspopup="true"] ~ ul .mobile-menu-back-item{
        display: none;
    }
    .menu-bar .main-sub-nav[aria-label="Shop"] > [aria-haspopup="true"] ~ ul .first-child-menu .menu.menu-list{
        max-height: 0;
        opacity: 0;
        animation: none;
        
    }
    .menu-bar .main-sub-nav[aria-label="New"],
    .menu-bar .main-sub-nav[aria-label="Sale"],
    .menu-bar .main-sub-nav[aria-label="The Corset Shop"],
    .menu-bar .main-sub-nav[aria-label="Matching Sets"],
    .menu-bar .main-sub-nav[aria-label="Extended Sizes"]{
        display: none;
    }
    .menu-bar .main-sub-nav[aria-label="Shop"] > [aria-haspopup="true"] ~ ul .menu-link.mega-menu-link.site-sub-nav--has-dropdown::after{
        background-image: none !important;
    }
    .main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .mega-menu.mega-menu--multiLevel{
        border-bottom: 1px solid #ffffff;
        padding-bottom: 100px;
        margin-bottom: 10px;
    }
    .main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .mega-menu.mega-menu--multiLevel >li a{
        opacity: 0.8;
    }
 }
/* video section styles */
.video-main-section{
    position: relative;
}
.video-main-section .video-section-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    text-align: center;
    width: 90%;
}
@media(max-width:767px){
    .VideoSection, .VideoSection iframe{
        height: 100vh;
    }
}
@media print, screen and (min-width: 64em){
    .video-main-section .video-section-content{
        max-width: 70%;
    }
}
.mobile-menu-trigger:hover,
.mobile-menu-trigger:focus,
.mobile-menu-trigger:active{
    color: #ffffff;
}
.main-sub-nav.site-nav--has-dropdown[aria-label="Shop"] .mega-menu.mega-menu--multiLevel >li a:focus{
    color: #d2fa4a;
}
.navigation-menu a:hover,
.navigation-menu a:focus{
    color: #d2fa4a;
}

/* hero video starts */

div#video-section-desk
{
      position: relative;
      padding-bottom: 69.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
}
iframe#fluidvids-item-desk{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
}
@media only screen and (max-width: 1570px) and (min-width: 1227px) {
iframe#fluidvids-item-desk {
    top: -24vh !important;
}
}
@media only screen and (max-width: 1849px) and (min-width: 1571px) {
iframe#fluidvids-item-desk {
    top: -35vh !important;
}
}

@media only screen and  (min-width: 2049px)  {
iframe#fluidvids-item-desk {
    top: -90vh !important;
}
}

@media only screen and (min-height: 1079px) and (max-height: 1500px) (min-width: 1300px) {
iframe#fluidvids-item-desk {
    top: 3vh!important;
}
  div#video-section-desk {
    padding-bottom: 80.25% !important;
}
}

@media only screen and (min-height: 899px) and (max-height: 1078px) {
  div#video-section-desk {
    padding-bottom: 86.25% !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 898px) {
iframe#fluidvids-item-desk {
    top: 17px !important;
}
}

@media only screen and (min-height: 1501px)   {
iframe#fluidvids-item-desk {
    top: -23vh !important;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1226px) and (min-height: 899px) and (max-height: 1079px) {
  .VideoSection, .VideoSection iframe {
    height: 67vh !important;
}
}
@media only screen and  (min-height: 1080px) {
.VideoSection, .VideoSection iframe {
    height: 64vh !important;
}
  iframe#fluidvids-item-desk {
    height: 100vh !important;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1226px) and (min-height: 1080px) {
iframe#fluidvids-item-desk {
    top: -18vh !important;
}
}
@media only screen and (min-width: 1500px) and (max-width: 1724px) and (min-height: 1080px) {
iframe#fluidvids-item-desk {
    height: 115vh!important;
}
}
@media only screen and (min-width: 1725px) and (min-height: 1080px) {
iframe#fluidvids-item-desk {
    height: 130vh!important;
  top: -20vh!important;
}
  .VideoSection, .VideoSection iframe {
    height: 80vh!important;
}
}
@media only screen and (min-width: 768px) and (max-width: 1099px) and (min-height: 700px) {
  .video-main-section .video-section-content {
    top: 45% !important;
}
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) and (min-height: 700px) { 
  .video-main-section .video-section-content {
    top: 35% !important;
}
}
@media only screen and (min-width: 1300px) and (max-width: 1650px) and (min-height: 700px) { 
  .video-main-section .video-section-content {
    top: 30% !important;
}
}
@media only screen and (min-width: 1651px) and (max-width: 2000px) and (min-height: 700px) { 
  .video-main-section .video-section-content {
    top: 25% !important;
}
}
@media only screen and (min-width: 2001px) and (min-height: 700px) { 
  .video-main-section .video-section-content {
    top: 20% !important;
}
}
@media only screen and (min-width: 1100px) and (max-width: 1380px) and (min-height: 500px) and (max-height: 660px) { 
  .video-main-section .video-section-content {
    top: 30% !important;
}
}
@media only screen and (min-width: 760px) and (max-width: 770px) and (min-height: 1020px) and (max-height: 1030px) { 
div#video-section-desk {
    padding-bottom: 64.25%!important;
}
}
@media only screen and (min-width: 2500px) and (max-width: 2600px) and (min-height: 1075px) and (max-height: 1085px) { 
iframe#fluidvids-item-desk {
    height: 164vh!important;
    top: -40vh!important;
}
}


/*   video section  */
@media print, screen and (max-width: 767px){
    .video-main-section .VideoSection {
    display: none;
}
}
@media print, screen and (min-width: 768px){
    .video-main-section .VideoSection_mob {
    display: none;
}
}
.icon-flame{
    display: none;
}
.HPHero-title:hover, .HPHero-cta:hover {
  color: white;
}