<main class="PageNotFound" role="main">
  <div class="column row">

    <h1 class="PageNotFound-title o-pageTitle">
      {{ 'general.404.title' | t }}
    </h1>

    <p class="o-pageSubtext o-rte">
      {{ 'general.404.subtext_html' | t }}
    </p>

  </div>
</main>
